<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Express & EJS </title>
    <link rel="stylesheet" href="/public/style.css" />
</head>
<body>
    <h1> local load </h1>
    <ul>
        <% for (let item of items) { %>
            <li><%= item.id %></li>
        <% } %>
    </ul>
    <h1> include </h1>
    <%- include("./ejsComponent.ejs", items) %>
</body> 
</html>